<configuration>
	<!-- always a good idea to activate OnConsoleStatusListener -->
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%h %l %u [%t] "%r" %s %b "%i{Referer}" "%i{User-Agent}"
			</pattern>
		</encoder>
	</appender>

	<if condition='isDefined("AWS_CLOUDWATCH_REGION")'>
		<then>
			<appender name="CLOUDWATCH"
				class="org.eluder.logback.ext.cloudwatch.appender.CloudWatchAppender">
				<region>${AWS_CLOUDWATCH_REGION}</region>
				<logGroup>${CLOUDWATCH_LOGGROUPNAME}-access</logGroup>
				<logStream>${HOSTNAME}</logStream>
				<encoder>
					<pattern>combined</pattern>
				</encoder>
			</appender>
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="CLOUDWATCH" />
		</then>
		<else>
			<appender-ref ref="CONSOLE" />
		</else>
	</if>
</configuration>
